:root {
    --background: #282a36;
    --current-line: #44475a;
    --selection: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--foreground);
    margin: 0;
    padding: 0;
}


.container {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: var(--current-line);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group button {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.form-group button:hover {
    background-color: var(--selection);
}

.back-link {
    text-align: center;
    margin-top: 20px;
    display: block;
}

.back-link a {
    color: var(--pink);
    text-decoration: none;
    font-size: 16px;
}

.back-link a:hover {
    text-decoration: underline;
}




.contain {
    width: 80%;
    margin: 50px auto;
}
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}
.book-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 250px;
}
.book-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.book-card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}
.book-card p {
    color: #555;
    font-size: 14px;
    margin: 5px 0;
}
