{% extends "template.html" %}
{% block subtitle %}Create Book{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='css/form_styles.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="form-container">
    <h1>Create a New Book</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.pages.label }} {{ form.pages(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.datePublished.label }} {{ form.datePublished(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.author_name.label }} {{ form.author_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.author_surname.label }} {{ form.author_surname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.genres.label }} {{ form.genres(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.image.label }} {{ form.image(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <div class="form-group">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Homepage</a>
    </div>
</div>
{% endblock %}