{% extends "template.html" %}
{% block subtitle %}Friends{% endblock %}
{% block main %}
<div class="container">
    <h1>Friends</h1>
    <div class="friend-list">
        {% for friend in friends %}
        <a href="{{ url_for('profile', nickname=friend.nickname) }}" class="friend-card">
            <div class="friend-picture">
                {% if friend.profile_picture %}
                <img src="{{ friend.profile_picture }}" alt="{{ friend.nickname }}">
                {% else %}
                <img src="/static/imgs/default_profile.jpg" alt="Default Profile Picture">
                {% endif %}
            </div>
            <div class="friend-details">
                <h3>{{ friend.nickname }}</h3>
                <p>{{ friend.full_name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}