
{% extends "template.html" %}

{% block subtitle %}Books{% endblock %}

{% block main %}
<div class="contain">
    <h1>Books</h1>
    {% if books %}
        <div class="book-list">
            {% for book in books %}
                <div class="book-card">
                    {% if book.image_url %}
                        <img src="{{ book.image_url }}" alt="{{ book.name }}">
                    {% else %}
                        <img src="/static/default_book.png" alt="Default Book">
                    {% endif %}
                    <h3>{{ book.name }}</h3>
                    <p>Author: {{ book.author }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No books found in the database.</p>
    {% endif %}
    <div class="back-link">
        <a href="{{ url_for('index') }}">Back to Homepage</a>
    </div>
</div>
{% endblock %}
