<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block subtitle %}{% endblock %} | BetterReads</title>
    {% block head %}{% endblock %}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container-fluid">
            <a class="logo" href="{{ url_for('index') }}">BetterReads</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create_book') }}">Add Book</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('list_books') }}">Books</a></li>
                    <li class="nav-item">
                        {% if 'nickname' in session %}
                        <a class="nav-link" href="{{ url_for('profile', nickname=session['nickname']) }}">{{ session['nickname'] }}</a>
                        {% else %}
                        <a class="nav-link" href="{{ url_for('login') }}">Sign in</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Valdemar Pospíšil, UJEP, 2024</p>
    </footer>
</body>
</html>